#catalog
	h2 КАТАЛОг ОКОН
	.container
		.row.justify-content-center.btn-toggle
			.btn.active Глухие
			.btn Открывное - Откидное
			.btn Глухое - Открывное
			.btn Витраж
		.swiper-container
			.swiper-wrapper
					.swiper-slide 
						img.img-fluid(src="assets/img/window.jpg", alt="video man")
						div.block-imgs
							img(src="/assets/img/mini-window1.jpg", alt="Photo window")
							img(src="/assets/img/mini-window2.jpg", alt="Photo window")
							img(src="/assets/img/mini-window3.jpg", alt="Photo window")
						h6 Окно Глухое
						hr
						p от <span class="big">3000</span>грн
						button.btn.btn-green  Калькулятор
					.swiper-slide 
						img.img-fluid(src="assets/img/window2.jpg", alt="video man")
						div.block-imgs
							img(src="/assets/img/mini-window1.jpg", alt="Photo window")
							img(src="/assets/img/mini-window2.jpg", alt="Photo window")
							img(src="/assets/img/mini-window3.jpg", alt="Photo window")
						h6 Окно Глухое
						hr
						p от <span class="big">5000</span>грн
						button.btn.btn-green  Калькулятор
					.swiper-slide 
						img.img-fluid(src="assets/img/window.jpg", alt="video man")
						div.block-imgs
							img(src="/assets/img/mini-window1.jpg", alt="Photo window")
							img(src="/assets/img/mini-window2.jpg", alt="Photo window")
							img(src="/assets/img/mini-window3.jpg", alt="Photo window")
						h6 Окно Глухое
						hr
						p от <span class="big">3000</span>грн
						button.btn.btn-green  Калькулятор
					.swiper-slide 
						img.img-fluid(src="assets/img/window2.jpg", alt="video man")
						div.block-imgs
							img(src="/assets/img/mini-window1.jpg", alt="Photo window")
							img(src="/assets/img/mini-window2.jpg", alt="Photo window")
							img(src="/assets/img/mini-window3.jpg", alt="Photo window")
						h6 Окно Глухое
						hr
						p от <span class="big">5000</span>грн
						button.btn.btn-green  Калькулятор
					.swiper-slide 
						img.img-fluid(src="assets/img/window.jpg", alt="video man")
						div.block-imgs
							img(src="/assets/img/mini-window1.jpg", alt="Photo window")
							img(src="/assets/img/mini-window2.jpg", alt="Photo window")
							img(src="/assets/img/mini-window3.jpg", alt="Photo window")
						h6 Окно Глухое
						hr
						p от <span class="big">3000</span>грн
						button.btn.btn-green  Калькулятор
			.swiper-button-next
			.swiper-button-prev