.contnet
	.content__wrraper.container
		aside.sidebar
			div.author
				h2.sidebar__title ABOUT AUTHOR
				p.sidebar__paragraph <span class="sidebar__blue">John Doe</span> - lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta.
			div.related
				h2.sidebar__title RELATED POSTS
				ul.related__items.list-unstyle
					li.related__item
						a(href="#").related__link
							img(src="../assets/img/image-post-1.jpg", alt="Night")
							.related__content
								h5.related__title POZNAN AT NIGHT
								button.related__comment.bth-unstyle 10 comments
					li.related__item
						a(href="#").related__link
							img(src="../assets/img/image-post-2.jpg", alt="Night")
							.related__content
								h5.related__title PEOPLE TO MEET
								button.related__comment.bth-unstyle 21 comments

					li.related__item
						a(href="#").related__link
							img(src="../assets/img/image-post-3.jpg", alt="Night")
							.related__content
								h5.related__title VISIT OUR OFFICE
								button.related__comment.bth-unstyle 17 comments
			div.currency
				h2.sidebar__title.currency__title CURRENCY
				table.currency__table
					tr.currency__tr
						td.currency__th Date
						td.currency__th Value
						td.currency__th Status
						td.currency__th Diff
					tr.currency__tr
						td.currency__td 22.1
						td.currency__td 459.5
						td.currency__td 
							img(src="../assets/img/arrow-head.png", alt="arrow up")
						td.currency__td 459.5
					tr.currency__tr
						td.currency__td 21.1
						td.currency__td 448.5
						td.currency__td
							img(src="../assets/img/arrow-down.png", alt="arrow down")
						td.currency__td 448.5
					tr.currency__tr
						td.currency__td 20.1
						td.currency__td 450.8
						td.currency__td
							img(src="../assets/img/arrow-head.png", alt="arrow up")
						td.currency__td +8.0



		.main-content
			.post
				h2.post_title WHY SHOULD YOU COME TO POZNAN
				div.post__wrapper
					div.post__data 11 Nov 2013
					div.post__img by John Doe
					p.post__paragraph Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio  em nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla... 
				.post__buttons
					a(href="#").post__more read more
					ul.post__items.list-unstyle
						li.post__item
							button.post__like.bth-unstyle
							| 10 likes
						li.post__item
							button.post__comment.bth-unstyle
							| 22 comments
			.mini-posts
				.mini-post
					h3.mini-post__title NEW ATTRACTIONS
					p.mini-post__author Posted by<span class="text-blue"> John Doe</span> on<span class="text-blue"> 10 Nov 2013</span>
					p.mini-post__paragraph Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis.
					a(href="#").mini-post__more more...
					div.mini-post__buttons
						ul.mini-post__items.post__items.list-unstyle
							li.mini-post__item.post__item
								button.mini-post__like.post__like.bth-unstyle
								| 12 
							li.mini-post__item.post__item
								button.mini-post__comment.post__comment.bth-unstyle
								| 34 

				.mini-post
					h3.mini-post__title LET’S MEET ON OLD MARKET SQUARE IT WILL BE FUN
					p.mini-post__author.mini-post__author--padding Posted by<span class="text-blue"> John Doe</span> on<span class="text-blue"> 9 Nov 2013</span>
					p.mini-post__paragraph.mini-post__paragraph--padding Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis.eget lacinia...
					a(href="#").mini-post__more more...
					div.mini-post__buttons.mini-post__buttons--margin
						ul.mini-post__items.post__items.list-unstyle
							li.mini-post__item.post__item
								button.mini-post__like.post__like.bth-unstyle
								| 56 
							li.mini-post__item.post__item
								button.post__comment.bth-unstyle
								| 55 
			
			.advertising 
				| your ad here