footer.footer
	.footer__wrapper.container
		div.footer-nav
			a.header__logo.footer__logo poz<span class="text-blue">nan</span> - city<span class="text-blue" >2<span>live
			nav.nav.nav--footer
				ul.nav__items.list-unstyle
					li.nav__item
						a.nav__link.nav__link--footer(href="#") home
					li.nav__item
						a.nav__link.nav__link--footer(href="#") product
					li.nav__item
						a.nav__link.nav__link--footer(href="#") services
					li.nav__item
						a.nav__link.nav__link--footer(href="#") contact
		div.footer__rights all rights reserved 2013 
button.show-button.btn-unstyle show<br>sidebar