header.header
	.header__wrapper.container
		.header__logo-block
			a.header__logo poz<span class="text-blue">nan</span> - city<span class="text-blue" >2<span>live
			.social
				ul.social__items.list-unstyle
					li.social__item
						a.social__link.social__link--evernote(href="#") evernote
					li.social__item
						a.social__link.social__link--twitter(href="#") twitter 
					li.social__item
						a.social__link.social__link--pinterest(href="#") pinterest
					li.social__item
						a.social__link.social__link--instagram(href="#") instagram
					li.social__item
						a.social__link.social__link--Facebook(href="#") Facebook
					li.social__item
						a.social__link.social__link--delicious(href="#") delicious
		nav.nav
			ul.nav__items.list-unstyle
				li.nav__item
					a.nav__link.active(href="#") home
				li.nav__item
					a.nav__link(href="#") product
				li.nav__item
					a.nav__link(href="#") services
				li.nav__item
					a.nav__link(href="#") contact