.jumbotron
	.jumbotron__wrapper.container
			.jumbotron__content
				h1.jumbotron__title Visit Poz<span class="text-blue" >nAN</span>
				p.jumbotron__paragraph a city on the <span class="text-blue" >Warta<span> river in west-central <span class="text-blue" >Poland</span>, the region called <span class="text-blue" >Greater Poland</span>.
	.comments
		.comments__wrapper.container
			ul.comments__items.list-unstyle
				li.comments__item
					img.comments__photo(src="assets/img/person01.png", alt="Photo person")
					div.comments__bloack-quote
						q.comments__quote I was in Poznan once. The architecture is really awesome.
						p.comments__author Joe Wisdom, architect
				li.comments__item
					img.comments__photo(src="assets/img/person02.png", alt="Photo person")
					div.comments__bloack-quote.comments__bloack-quote--padding
						q.comments__quote I was lost in Poznan for 3 days. I was terrified.
						p.comments__author Little Box, child
				li.comments__item
					img.comments__photo(src="assets/img/person03.png", alt="Photo person")
					div.comments__bloack-quote
						q.comments__quote People used to look at me now they don’t see me.
						p.comments__author Eva Doe, exmodel
				li.comments__item
					img.comments__photo(src="assets/img/person04.png", alt="Photo person")
					div.comments__bloack-quote
						q.comments__quote I have a lot of penfriends in Poznań. I like writting to them and ...
						p.comments__author Emma Smith, child