#ordering
	.container
		.row.align-items-end
			.col-lg-5.img-fluid
				img(src="assets/img/window-ordering.jpg", alt="indow ordering")
			.col-lg-7.pl-0
				.ordering__wrapper
					h2 Как сделать заказ?
					.row
						.col-sm-4
							img(src="assets/img/opened-window.png", alt="opened window")
							p Выберите параметры окна
						.col-sm-4
							img(src="assets/img/delivery-truck.png", alt="delivery truck")
							p Выберите способ доставки
						.col-sm-4
							img(src="assets/img/package-for-delivery.png", alt="package for delivery")
							p Получите свой заказ
